* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('img/fondo.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.main-container {
    display: flex;
    gap: 50px;
    width: 90%;
    justify-content: space-between; 
    max-height: 90vh;
    padding: 20px;
    max-height: 90vh;
    

}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    min-width: 350px;
    flex: 1; 
    flex-direction: column;
    
    
}

h2, h3 {
    text-align: center;
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.table-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150%;
    max-height: 900px;
    overflow-y: auto;

}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background: #007bff;
    color: white;
    
}

td button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

td button:first-child {
    background: orange;
    color: white;
}

td button:last-child {
    background: red;
    color: white;
    margin-left: 5px;
}

td button:hover {
    opacity: 0.8;
}


